
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	
.container{
	border: 1px solid rgb(0, 255, 136);
	width: 500px;
	height: 375px;
	margin: 10px auto;
	position: relative;
}

#slider{
	height: 30px;
	line-height: 30px;
	width: 500px;
	display: flex;
	justify-content: center;
	gap: 10px;
	position: absolute;
	bottom: -33px;
}
label{
	height: 30px;
	width: 40px;
	border: 1px solid rgb(0, 255, 136);
	text-align:center;
	font-size: 14px;
	font-weight: 600;
	color: #000;;
}
 #blur{
	background:rgb(67, 77, 163);
}